PORT=3000

BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001
BETTER_AUTH_SECRET=

DATABASE_URL=postgresql://postgres:password@localhost:5433/modular-vsa

POSTGRES_DB=modular-vsa
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5433

REDIS_PORT=6378
REDIS_PASSWORD=